.ipynb_checkpoints/ShuhartHW2MSDS_______-checkpoint.ipynb
MSDS7349HW2DueWeek10_2.pdf
*.html
*.pdf
.ipynb_checkpoints/ShuhartHW2MSDS7349_Q1-2-checkpoint.ipynb
.ipynb_checkpoints/ShuhartHW2MSDS7349_Q3-checkpoint.ipynb